{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <main id="private-office">
            <div class="container">
                <div class="row">
                    <section id="col-left-menu" class="col-2 pt-3">
                        <div id="left-menu" class="position-sticky">
                            <ul class="nav flex-column pt-2" id="nav-profile">
                                <li class="nav-item">
                                    <a class="nav-link link-dark rounded {% if 'profile' in request.path %}active{% endif %}" href="{% url 'profile' %}">
                                        <i class="fa-solid fa-user"></i>
                                        Профиль
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link link-dark rounded" href="#">
                                        <i class="fa-solid fa-scale-balanced"></i>
                                        Сальдо
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link link-dark rounded" id="nav-profile-toogle" role="button" data-bs-toggle="collapse" data-bs-target="#insurance-collapse" aria-expanded="true">
                                        <i class="fa-solid fa-caret-right"></i>
                                        Оформление
                                    </a>
                                    <div class="container">
                                        <ul class="nav collapse show" id="insurance-collapse">
                                            <li class="nav-item">
                                                <a class="nav-link link-dark rounded {% if 'shipping_claim' in request.path %}active{% endif %}" href="{% url 'shipping_claim' %}">
                                                    Перевозка
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link link-dark rounded {% if 'static_declaration' in request.path %}active{% endif %}" href="{% url 'static_declaration' %}">
                                                    Статическая декларация
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link link-dark rounded {% if 'import_declaration' in request.path %}active{% endif %}" href="{% url 'import_declaration' %}">
                                                    Импортная декларация
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link link-dark rounded {% if 'archive' in request.path %}active{% endif %}" href="{% url 'archive' %}">
                                        <i class="fa-solid fa-box"></i>
                                        Aрхив
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link link-dark rounded" href="#">
                                        <i class="fa-solid fa-file-invoice"></i>
                                        Шаблоны документов
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <section class="col-10 pt-3">
                        {% include 'main/messages.html' %}
                        {% block content_cabinet_layout %}
                        {% endblock %}
                    </section>
                </div>
            </div>
        </main>
    {% else %}
        <h1 class="text-center mt-5">Авторизуйтесь</h1>
    {% endif %}
{% endblock %}

{% block js %}
    <script src="{% static 'custom_users/js/bootstrap_toggle_button.js' %}"></script>
    <script>
        let position = $('#left-menu').position();
        $('#left-menu').css('top', position.top);
    </script>
{% endblock %}