{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <div class="container-fluid h-100" id="private-office">
            <div class="row h-100">
                <section class="col-2 pt-3 bg-light h-100" id="col-left-menu">
                    <div class="row h-75" id="left-menu">
                        <div class="col" id="nav-profile">
                            <ul class="nav flex-column pt-2">
                                <li class="nav-item mb-1">
                                    <a class="nav-link link-dark rounded {% if 'profile' in request.path %}active{% endif %}" role="button" href="{% url 'profile' %}">
                                        <i class="fa-solid fa-user"></i>
                                        Профиль
                                    </a>
                                </li>
                                <li class="nav-item mb-1">
                                    <a class="nav-link link-dark rounded" href="#">
                                        <i class="fa-solid fa-scale-balanced"></i>
                                        Сальдо
                                    </a>
                                </li>
                                <li class="nav-item mb-1">
                                    <a class="nav-link link-dark rounded" id="nav-profile-toogle" role="button" data-bs-toggle="collapse" data-bs-target="#insurance-collapse" aria-expanded="true">
                                        <i class="fa-solid fa-caret-right"></i>
                                        Оформление
                                    </a>
                                    <div class="container">
                                        <ul class="nav collapse show" id="insurance-collapse">
                                            <li class="nav-item my-1">
                                                <a class="nav-link link-dark rounded {% if 'make/shipping_claim' in request.path %}active{% endif %}" role="button" href="{% url 'make_shipping_claim' %}">
                                                    Перевозка
                                                </a>
                                            </li>
                                            <li class="nav-item mb-1">
                                                <a class="nav-link link-dark rounded {% if 'make/static_declaration' in request.path %}active{% endif %}" role="button" href="{% url 'make_static_declaration' %}">
                                                    Статическая декларация
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link link-dark rounded {% if 'make/import_declaration' in request.path %}active{% endif %}" role="button" href="{% url 'make_import_declaration' %}">
                                                    Импортная декларация
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item mb-1">
                                    <a class="nav-link link-dark rounded {% if 'archive' in request.path %}active{% endif %}" role="button" href="{% url 'archive_shipping_claim' %}">
                                        <i class="fa-solid fa-box"></i>
                                        Aрхив
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link link-dark rounded" href="#">
                                        <i class="fa-solid fa-file-invoice"></i>
                                        Шаблоны документов
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row-cols-1 h-auto">
                        <div class="col">
                            <hr>
                        </div>
                        <div class="col">
                            Скачать приложение
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link link-dark" href="#">
                                        <i class="fa-brands fa-android"></i>
                                        Android
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link link-dark" href="#">
                                        <i class="fa-brands fa-apple"></i>
                                        IOS
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col">
                            <hr>
                        </div>
                    </div>
                    <div class="row h-auto">
                        <div class="col">
                            <a class="nav-link link-dark rounded" href="{% url 'logout' %}">
                                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                Выйти
                            </a>
                        </div>
                    </div>
                </section>
                <section class="col-10 pt-3 h-100 overflow-auto">
                    {% include 'main/messages.html' %}
                    {% block content_cabinet_layout %}
                    {% endblock %}
                </section>
            </div>
        </div>
    {% else %}
        <h1 class="text-center mt-5">Авторизуйтесь</h1>
    {% endif %}
{% endblock %}

{% block js %}
    <script src="{% static 'custom_users/js/bootstrap_toggle_button.js' %}"></script>
    <script src="{% static 'custom_users/js/left_menu.js' %}"></script>
{% endblock %}