{% extends 'custom_users/cabinet_layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content_cabinet_layout %}
    <div class="row mb-4">
        <div class="col">
            <div class="row mb-3">
                <div class="col d-flex justify-content-center">
                    <h4>Профиль организации</h4>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col d-flex justify-content-center">
                    <form id="profile-edit" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row mb-2">
                            <label class="col col-form-label">Наименование организации:</label>
                            <div class="col">
                                {{ form.name }}
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label class="col col-form-label">Юридический адрес:</label>
                            <div class="col">
                                {{ form.address }}
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label class="col col-form-label">Email:</label>
                            <div class="col">
                                {{ form.email }}
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label class="col col-form-label">Банковский счёт:</label>
                            <div class="col">
                                {{ form.bank_account }}
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label class="col col-form-label">УНП:</label>
                            <div class="col">
                                <div class="row-cols-1">
                                    <div class="col">
                                        {{ form.unp }}
                                    </div>
                                    <div class="col mt-1">
                                        {{ form.unp.errors }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label class="col col-form-label">Договор на грузоперевозки:</label>
                            <div class="col">
                                 {{ form.contract_1 }}
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label class="col col-form-label">Договор на оказание услуг таможенного представителя:</label>
                            <div class="col mt-3">
                                {{ form.contract_2 }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary btn-sm mt-1">Сохранить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row-col-5">
        <div class="col-5">
            <h5>Загруженные файлы:</h5>
        </div>
        <div class="col-auto ms-3">
            {% if user.contract_1 %}
                <a href="{{ user.contract_1.url }}">Договор на грузоперевозки</a>
            {% endif %}
        </div>
        <div class="col-auto ms-3">
            {% if user.contract_2 %}
                <a href="{{ user.contract_2.url }}">Договор на оказание услуг таможенного представителя</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
