asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
Django
gunicorn
django-cleanup
django-grappelli
django-recaptcha
idna
lxml
oauthlib
pycparser
PyJWT
python-docx
python3-openid
requests
requests-oauthlib
social-auth-app-django
social-auth-core
sqlparse
urllib3
psycopg2-binary
