__pycache__/

# Django stuff:
/trucing/*.log

# dotenv
/trucking/.env.dev

# virtualenv
venv/

/trucking/db.sqlite3
/trucking/media/
/trucking/*.pyc
/trucking/*.db
trucking/*.pid

# Ignore Django Migrations in Development if you are working on team

# Only for Development only
/trucking/.env.dev
/trucking/.env.prod
