.modal-dialog {
    max-width: 60% !important;
}

.captcha-error {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: #dc3545;
}

/* Preliminary claim */

#left-col {
    border-right: 2px solid #f4f5f7;
}

/* End Preliminary claim */