#col-left-menu {
    border-right: 1px solid #c8c9ca;
}

#nav-profile {
    height: 65%;
}

#nav-profile-toogle[aria-expanded='true'] i {
    transform: rotate(90deg);
}

#nav-profile-toogle i {
    font-size: 14px;
}

#insurance-collapse .nav-item {
    font-size: 14px;
}

#col-left-menu a:hover {
    background-color: #d2f4ea;
}

#col-left-menu .active {
    background-color: #d2f4ea;
}

.errorlist {
    font-size: .875em;
    color: #dc3545;
}