#col-left-menu {
    border-right: 1px solid #c8c9ca;
}

#nav-profile-toogle[aria-expanded='true'] i {
    transform: rotate(90deg);
}

#nav-profile-toogle i {
    font-size: 14px;
}

#insurance-collapse .nav-item {
    font-size: 14px;
}

.nav a:hover {
    background-color: #d2f4ea;
}

.active {
    background-color: #d2f4ea;
}