#nav-profile-toogle[aria-expanded='true'] i {
    transform: rotate(90deg);
}

#insurance-collapse .nav-item {
    font-size: 14px;
}

.nav a:hover {
    background-color: #d2f4ea;
}

.active {
    background-color: #d2f4ea;
}