{% extends 'custom_users/cabinet_layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content_cabinet_layout %}
    {% if request.user.check_profile %}
        <div class="row mb-3">
            <div class="col">
                <div class="row mb-3">
                    <div class="col d-flex justify-content-center pb-2">
                        <h4>Архив</h4>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Дата</th>
                                    <th scope="col">Маршрут</th>
                                    <th scope="col">Стоимость</th>
                                    <th scope="col">Статус</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for claim in shipping %}
                                    <tr>
                                        <td>{{ claim.created|date:"d.m.Y" }}</td>
                                        <td>{{ claim.point_departure }} - {{ claim.destination }}</td>
                                        <td>{% if claim.price %} {{ claim.price }} {% else %} рассчитывается {% endif %}</td>
                                        <td>{{ claim.get_status_display }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    {% if page_obj.has_other_pages %}
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                                {% for page in paginator.page_range %}
                                    {% if page_obj.number == page %}
                                        <li class="page-item active" aria-current="page"><a class="page-link">{{ page }}</a></li>
                                    {% elif page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
                                        <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        <h1 class="text-center mt-5">Заполните профиль организации</h1>
    {% endif %}
{% endblock %}