{% extends 'custom_users/cabinet_layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content_cabinet_layout %}
    {% if request.user.check_profile %}
        <div class="row mb-3">
            <div class="col">
                <div class="row">
                    <div class="col d-flex justify-content-center pb-2">
                        <h4>Оформление импортной декларации</h4>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <form method="post">

                            <div class="row">
                                <div class="col d-flex justify-content-center">
                                    <button type="submit" class="btn btn-success">Отправить заявку</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h1 class="text-center mt-5">Заполните профиль организации</h1>
    {% endif %}
{% endblock %}