{% load static %}
<div class="modal fade" id="form_modal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="form_modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="pre_claim" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="form_modalLabel">Запрос ставки</h5>
                    <button type="button" class="btn-close" name="close_modal_form" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="row modal-body">
                    <div class="col-6" id="left-col">
                        <div class="row mb-4">
                            <div class="col d-flex justify-content-center">
                                <span class="fw-bold">Информация о грузе</span>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label class="form-label">Наименование груза</label>
                            <div class="col-10">
                                {{ form.shipping_name }}
                                <div class="invalid-feedback">
                                    Обязательное поле.
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-4">
                                <label class="form-label">Вес брутто</label>
                                {{ form.gross_weight }}
                            </div>
                            <div class="col-4">
                                <label class="form-label">Кол. мест</label>
                                {{ form.count_seats }}
                            </div>
                            <div class="col-4">
                                <label class="form-label">Вид мест</label>
                                {{ form.type_seats }}
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label class="form-label">Габариты места</label>
                            <div class="col-auto">
                                <label class="col-form-label">Длина</label>
                            </div>
                            <div class="col-2">
                                {{ form.length_seats }}
                            </div>
                            <div class="col-auto">
                                <label class="col-form-label">Ширина</label>
                            </div>
                            <div class="col-2">
                                {{ form.width_seats }}
                            </div>
                            <div class="col-auto">
                                <label class="col-form-label">Высота</label>
                            </div>
                            <div class="col-2">
                                {{ form.height_seats }}
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-6">
                                <label class="form-label">Пункт отправления</label>
                                {{ form.point_departure }}
                                <div class="invalid-feedback">
                                    Обязательное поле.
                                </div>
                            </div>
                            <div class="col-6">
                                <label class="form-label">Пункт Назначения</label>
                                {{ form.destination }}
                                <div class="invalid-feedback">
                                    Обязательное поле.
                                </div>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col">
                                <label class="form-label">Вид транспорта</label>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">Авиа</label>
                                    {{ form.fly }}
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">Ж/д</label>
                                    {{ form.train }}
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">Море</label>
                                    {{ form.ship }}
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">Авто</label>
                                    {{ form.auto }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="form-label">Предполагаемая дата отгрузки</label>
                            <div class="input-group">
                                <div class="col-4">
                                    {{ form.start_date }}
                                </div>
                                <div class="col-auto">
                                    <span class="input-group-text">-</span>
                                </div>
                                <div class="col-4">
                                    {{ form.end_date }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 position-relative">
                        <div class="row mb-4">
                            <div class="col d-flex justify-content-center">
                                <span class="fw-bold">Контактная информация</span>
                            </div>
                        </div>
                       <div class="row mb-4">
                            <div class="col-6">
                                <label class="form-label">Телефон</label>
                                {{ form.phone_number}}
                                <div class="invalid-feedback">
                                    Обязательное поле.
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label class="form-label">Messenger</label>
                            <div class="col-4">
                                {{ form.messenger }}
                            </div>
                            <div class="col-6">
                                {{ form.messenger_number }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10">
                                <label class="form-label">Контактное лицо</label>
                                {{ form.contact_person }}
                                <div class="invalid-feedback">
                                    Обязательное поле.
                                </div>
                            </div>
                        </div>
                        <div class="row position-absolute bottom-0">
                            <div class="col position-absolute bottom-0 start-0">
                                {{ form.captcha }}
                                <div class="captcha-error">
                                    Обязательное поле.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="w-100">
                        <button type="submit" class="btn btn-success float-start">Отправить заявку</button>
                        <button name="close_modal_form" type="button" class="btn btn-secondary  float-end" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>