@import url('/static/claims/css/claims.css');
@import url('/static/custom_users/css/cabinet.css');


html, body {
    width: 100%;
    height: 100%;
}

main {
    height: 100%;
}

#panorama-container {
    width: 100%;
    height: 100%;
}

/* Убрать справа кнопки с input=number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.alert {
    top: 40%;
    left: 40%;
    z-index: 10000;
}

.cst-btn {
    font-size: 1.5rem !important;
}

/* Canvas Yodco dev */

#canvas-yodco {
    width: 300px;
}

/* Pulse button */

#pulse_button {
    font-size: 2rem;
}

#pulse_button:hover {
    animation: none;
}

.pulse {
    animation: animate 3s linear infinite;
}

@keyframes animate {
    0% {
        box-shadow:
            0 0 0 0 rgb(255, 202, 44, 0.7),
            0 0 0 0 rgb(255, 202, 44, 0.7)
    }
    40% {
        box-shadow:
            0 0 0 50px rgb(255, 202, 44, 0),
            0 0 0 0 rgb(255, 202, 44, 0.7)
    }
    80% {
        box-shadow:
            0 0 0 50px rgb(255, 202, 44, 0),
            0 0 0 30px rgb(255, 202, 44, 0)
    }
    100% {
        box-shadow:
            0 0 0 0 rgb(255, 202, 44, 0),
            0 0 0 30px rgb(255, 202, 44, 0)
    }
}

/* End Pulse Button */